.contacts {
  position: relative;
  padding-bottom: 5rem;
  text-align: center;
}

.contacts ul {
  padding: 5rem 2rem 2rem 2rem;
  margin-top: 10rem;
  /* padding: 2rem; */
  background-color: var(--clr--bg--sec);
  border-radius: var(--border--radius);
  background-image: url("..//assets/contact.svg");
  border: 1px solid var(--clr--border--main);
}

.contacts ul a {
  display: block;
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 600;
}

.contacts ul a i {
  margin-right: 0.4rem;
}

.contact__illustration {
  position: absolute;
  width: 10rem;
  right: 0;
  left: 0;
  top: 1rem;
  margin: auto;
  transform: rotate(10deg);
  /* top: -12rem; */
}
