*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font--main);
  background-color: var(--clr--bg--main);
  color: var(--clr--txt--main);
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
}

p {
  line-height: 2rem;
}

h2 {
  font-family: var(--font--sec);
}

footer {
  text-align: center;
  display: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 950ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  animation: 1s slideInFromBottomSmooth;
}

@media (min-width: 640px) {
  footer {
    display: block;
    padding: 1rem;
    font-weight: 500;
  }
}

@keyframes slideInFromBottomSmooth {
  0% {
    transform: translateY(20%);
  }

  100% {
    transform: translateX(0);
  }
}
