.container {
  width: 100%;
  max-width: var(--max--width);
  margin: auto;
  padding: 2rem;
}

.section__title {
  text-align: center;
  text-transform: uppercase;
  padding: var(--rem--main) 0;
}

.section__title i {
  margin-right: 0.5rem;
}
