@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
:root {
  --clr--bg--main: #f8f8ff;
  --clr--bg--transparent: rgba(248, 248, 255, 0.97);
  --clr--bg--sec: #edf2fb;

  --clr--txt--main: hsl(218, 44%, 22%);
  --clr--txt--sec: hsl(220, 15%, 55%);

  --clr--active: #06f;
  --clr--danger: #ed2c49;
  --clr--success: #00ff95;

  --font--main: "Open Sans", sans-serif;
  --font--sec: "Raleway", sans-serif;
  --font--cursive: "Creepster", cursive;

  --rem--main: 2rem;
  --rem--sec: 1rem;

  --max--width: 64rem;

  --clr--border--main: #d1e5f8;

  --border--radius: 0.5rem;

  --shadow--1: rgba(162, 205, 243, 0.48) 6px 2px 16px 0px,
    rgba(224, 245, 250, 0.8) -6px -2px 16px 0px;
  /* --shadow--2: rgba(146, 215, 255, 0.15) 2.4px 2.4px 3.2px; */
  --shadow--2: 14px 14px 20px #d7e7f7, -14px -14px 20px #ffffff;
}
